{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="centered">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <form class="d-flex flex-column align-items-center" method="POST" onSubmit='return validate();' action="/search">
        <div class="d-flex w-100 mb-3">
            <input class="form-control me-2" name="search-query" type="search" placeholder="Search" aria-label="Search"
                autofocus="autofocus">
            <button class="btn btn-primary ml-2" type="submit" onclick='this.form.submit();'>Search</button>
        </div>
        <div class="w-50">
            <select class="form-control" name="search-method">
                <option value="tfidf" selected>TF-IDF</option>
                <option value="bm25">BM25</option>
                <option value="word2vec">Word2Vec</option>
                <option value="custom">Custom Ranking</option>
            </select>
        </div>
        <input name="upf-irwa-hidden" type="hidden" value="123">
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
{% endblock %}